[Unit]
Description={{ item.description }}

[Mount]
What={{ item.share }}
Where={{ item.mount }}
Type={{ item.type }}
Options={{ item.options }}
DirectoryMode={{ item.mode }}

[Install]
WantedBy={{ item.wantedby }}
